
{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{blog_post_entry.title}}</h2>
      </div>
        <div class="panel-body">
        <p>{{blog_post_entry.body}}</p>
        {% for illuminati in all_users %}
        {% if blog_post_entry.owner_id == illuminati.id %}
        <p> Written by: <a href="/blog?user_id={{blog_post_entry.owner_id}}">{{illuminati.username}} </a></p>
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
